<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="signup">
    <h1>New password</h1>
    <form class="signup-form" action="/new-password" method="POST">
      <div class="form-control">
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
      </div>
      <input type="hidden" value="<%= userId  %>" name="userId">
      <input type="hidden" value="<%= csrfToken  %>" name="_csrf">
      <input type="hidden" value="<%= passwordToken  %>" name="passwordToken">
      <button type="submit">Update password</button>
    </form>
    <% if (errorMessage) { %>
      <span class="error"><%= errorMessage %></span>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>