<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/checkout.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="checkout">
    <ul>
      <% for (let product of cartProducts) { %>
      <li class="product-row">
        <img class="product-row__image" src="<%= product.productId.imageURL %>" alt="<%= product.productId.title %>">
        <div class="product-row__title" title="<%= product.productId.description %>">
          title:<b>&nbsp;<%= product.productId.title %></b>
        </div>
        <div class="product-row__price">
          price,$:<b>&nbsp;<%= product.productId.price %></b>
        </div>
        <div class="product-row__quantity">
          quantity:<b>&nbsp;<%= product.qty %></b>
        </div>
        <div class="product-row__total">
          total, $:<b>&nbsp;<%= product.productId.price*product.qty  %></b>
        </div>
      </li>
      <% } %>
    </ul>
    <div>
      <h3>Total, $: <%= totalSum %></h3>
    </div>
    <div>
      <button id="orderBtn">Order</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        var stripe = Stripe('pk_test_51OtuyZ06aUL7LbAfdNhAe3450LIYDIy02eyE3CO3akHlmwVjVxaVSm5HG5efBCTC2IpAf1ypvdXKmKJ23vW1LoLe00iv4SVwRW');
        var orderBtn = document.getElementById('orderBtn')
        orderBtn.addEventListener('click', function() {
          stripe.redirectToCheckout({
            sessionId: '<%= sessionId %>'
          })
        })
      </script>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>